div.online-support{
    width: 390px;
    height: 630px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
div.online-support>div.box{
    position: absolute;
    top: 0;
    right: 0;
    width:350px ;
    height: 550px;
    background-color: rgba(222, 26, 65, 0.955);
    border: 1px 1px 1px crimson;
    border-radius: 20px;
    display: none;
}
#show{
    display: none;
}
#close{
    display: none;
}
#show:checked ~ div.box,label[for=close]{
    display: block;    
}
label[for=show]{
    position: absolute;
    bottom: 15px;
    left: 12%;
    width: 50px;
    height: 50px;
    background-color: crimson;
    border-radius: 50%;
    text-align: center;
}
label[for=show]>i{
    font-size: 27px;
    color: white;
    margin-top: 10px;
}
label[for=close]{
    position: absolute;
    bottom: -65px;
    left: 7px;
    width: 50px;
    height: 50px;
    background-color: crimson;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    font-size: 40px;
    z-index: 99999;
}
#close:checked ~ div.box{
    display: none;    
}
div.box>h2{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin:15px;
}
div.box>div.hi{
    background-color: rgb(255, 255, 255);
    width:348px ;
    height: 490px;
    position: absolute;
    left: 1px;
    bottom: 1px;
    overflow: auto;
}
div.box>div.hi>h4{
    margin: 15px;
    font-size: 20px;
}
div.box>div.hi>p{
    margin: -4px 10px;
    font-size: 14px;
    font-weight:550;
    margin-bottom: 40px;
}
div.box>div.hi>div{
    width: 340px;
    border-radius: 10px;
    border: 1px solid rgb(153, 152, 152);
    margin:10px 4px;
    padding: 20px 10px;
}